body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Katssad 100% mn hauteur dyal viewport */
    width: 100vw;  /* Katssad 100% mn largeur dyal viewport */
    background-image: url('IMAGES/h.jpg'); 
    background-size: cover;  /* Bach tchad l'image kamla f background */
    background-position: center; /* Tpositioni l'image f center */
    background-attachment: fixed; /* Katb9a image statique m3a scroll */
}


.search-box {
    border: 3px solid rgba(245, 241, 241, 0.3);
    backdrop-filter: blur(10px);
    background: rgba(252, 247, 247, 0.2);
    display: flex;
    border-radius: 30px; 
    padding: 10px 20px;
    width: 350px;
    margin-left: 40px;
    margin: 60px 300px;
}

.search-box input {
    
    border: none;
    background: transparent;
    font-size: 16px;
    color: #59506b;
    
}

#search-input::placeholder {
    color: #0d0220; /* Bdel lone hna b lli bghiti */
    font-style: italic; /* Ila bghiti font style */
    opacity: 1; /* Bach itban l-color mzyan */
}
.search-box .search-icon {
    font-size: 20px;
    color: #0d0220;
    margin-right: 10px;
}

.imgg {
    width: 200px;
    height: 200px;
    margin: auto;
}

@media (max-width:500px){
   
.search-box {
    margin:auto ;
    margin-top: 20px;
}
}